.flex-content-justify-between {
    display: flex !important;
    justify-content: space-between;
}

ng-forms-input-material {

    &.w-100 {
        width: 100%;

        & mat-form-field {
            width: 100%
        }
    }

    &.w-75 {
        width: 75%;
        & mat-form-field {
            width: 75%
        }
    }

    &.w-50 {
        width: 50%;
        & mat-form-field {
            width: 50%
        }
    }

    &.w-33 {
        width: 33%;
        & mat-form-field {
            width: 33%
        }
    }
}
